<!DOCTYPE html>
<html>
<head>
	<title>
		Battleships
	</title>
</head>
<body>
	<strong>What's your name?</strong><br>
<form id="player-details" name="player_details" action="players" method="post">
	<input id="player_name" name="player1_name"><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>