	<strong>What's your name?</strong><br>
<form id="player-details" name="player_details" action="players" method="post">
	<input id="player_name" name="player1_name"> 
	<input type="submit" value="Submit">
</form>