<p>Fill in the coordinates where you want to place your <%=session[:player1].ships_to_deploy.last.class.name%><br>
You have <strong><%=session[:player1].ships_to_deploy.count%></strong> ships to deploy</p>
<form id="ship_coordinates" name="ship_coordinates" action="place_ships" method="get">
	<%session[:player1].ships_to_deploy.last.remaining_hits.times { %> <input id="player_name" name=<%=rand(1000).to_s%> size="3" maxlength="3"> <%}%>
	<input type="submit" value="Place ship">
</form>