<!DOCTYPE html>
<html>
<head>
	<title>
		Battleships
	</title>
</head>
<body>
	Hi <strong><%=@player1.name%></strong> lets play Battleships!!!<br>
	You have <strong><%=@player1.ships_to_deploy.count%></strong> ships to deploy
</form>
</body>
</html>