<p>Hi <strong><%=@player.name%></strong> lets play Battleships!!!<br>
	You have <strong><%=@player.ships_to_deploy.count%></strong> ships to deploy</p>
	<br>
	<a href='/game'><button type="button">Start the game</button></a>
</body>
</html>