<p>Enter the coordinate that you want to shoot at</p>
<form id="coordinates" name="coordinates" action="shoot_at" method="post">
	<input id="player_name" name="coordinate"> 
	<input type="submit" value="Attack!!!">
</form>